
/*------header section-------- */

body {
  background: #cfd4d6; 
}

header {
  background: #2ac38a;
  clear: both;
  padding-bottom: 18px; 
}

.top-navbar-list{
  height: 24px;
}

.menu-list{
  margin-bottom: 0px;
}

.menu-list ul {
  margin-bottom: 0;
}

.menu-list li {
  float: left;
  list-style: none;
  padding-right: 40px; 
}

.logo {
  text-align: center; 
}

.logo img {
margin-bottom: -45px;
}

.nav-social-menu {
  background: white;
}

.social-menu {
  text-align: center;
  padding: 8px;
  margin: 0;
}

.social-menu li {
  margin-right: 50px;
  margin-left: 50px;
}

.menu-list a:only-child {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  font-size: large; 
}

.logout-link a {
  text-decoration: none;
  color: white;
  float: right;
  margin-top: -23px;
  margin-bottom: 10px;
  margin-right: 30px;
  font-weight: lighter;
  font-size: large; 
  }

/*------Left profile section-------- */

.profile_info {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  position: relative;
  background: #2F3440;
}

.background-profile {
  background-image: url("../../images/cover.jpg");
  background-position: center;
  background-size: 100%;
  height: 190px; 
  width: 100%;
  margin-bottom: 50px;
}

.profile_picture {
  border-radius: 50px;
  position: absolute;
  transform: translateY(140%);
  right: 50%;
  left: 35%;
}

h1 {
  text-align: center;
  font-size: 22px;
  font-weight: lighter; 
}
.profileName{
  color: white;
}

dt {
  margin-top: 12px; 
}

dt, dd {
  text-align: center; 
  color: white;
  font-weight: lighter;
}

a:only-child {
  text-decoration: none;
  color: white; 
}

/*------The Others Profiles section-------- */

.wrapper{
  display: grid;
}

.left-profile{
  grid-column: 1 / 2;
  grid-row: 1;
}

.profiles-sections{
  grid-column: 2;
  grid-row: 1;
}

.profiles-list{
  display: grid;
  width: 100%;
  margin: 0; 
  background: #cfd4d6;
  padding: 50px 50px;
  grid-template-columns: repeat(4, 1fr);
  
  grid-gap: 25px;
}

[class*="profile-"]{
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  background:white;
  padding: 25px 0px;

}
a.social-button {
  text-decoration: none;
  color: white;
  background: #2ac38a;
  border-radius: 7px;
  display: block;
  text-align: center;
  width: 125px;
  height: 33px;                     
  padding-top: 5px;
}

a.social-button-un {
  text-decoration: none;
  color: white;
  background: grey;
  border-radius: 7px;
  display: block;
  text-align: center;
  width: 125px;
  height: 33px;
  padding-top: 5px;
}

h2 {
  text-align: center;
  font-weight: lighter;
  margin: 0;
  padding: 8px;
  background:#3F5666;
  color: white;
}

.social-menu {
  text-align: center;
  margin-top: 0;
  padding: 8px;
}

.social-menu li {
  list-style: none;
  text-align: center;
  display: inline;
  margin-right: 30px;
  margin-left: 30px; 
}

.social-menu a:only-child{
  color: black;
  font-weight: lighter;
  font-size: 18px;
  margin: 20px;
}

.profiles-images {
  border-radius: 50px;
  display: block;
  margin: 0 auto;
}


/*-----------------Media Queries-----------------*/

@media screen and (max-width: 1200px) and (min-width: 992px) {


  /*------header section-------- */
    header {
      padding: 0;
    }

    .logo{
      background: #2ac38a;
      height: 50px;       
    }

    .logo img {
      margin-bottom: -30px;
    }

    .top-navbar-list{
      background: lightgrey;
      height: 50px;
      font-weight: lighter;
      font-size: large;
    }

    .logout-link {
      margin-bottom: 0;
    }

     .logout-link a {
       margin-top: -44px;
       margin-right: 115px;
       font-size: large;
       padding-top: 6px;
     }

    .menu-list{
      display: flex;
      font-weight: lighter;
      width: 74%;
      font-size: large;
      margin-bottom: 0;
      margin-top: 8px;
      padding-top: 12px;
      padding-left: 0;
      justify-content: space-around;
      margin: 5px 50px;
    }

    .menu-list a:only-child {
      color: black;
    }

  /*------The Others Profiles section-------- */

    .wrapper{
      display: block;
    }

    .profile_info {
      background: white;
    }

    .profile_picture {
      left: 46%;
    }
    .social-menu {
      margin: 0;  
    }

    dt, dd, a:only-child { 
      color: black;
      font-size: 18px;
    }

    dd{
      font-weight: bold;
    }

    .profiles-list{
      grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 991px) and (min-width: 768px) {

  /*------header section-------- */
    header {
      padding: 0;
    }

    .logo{
      background: #2ac38a;
      height: 50px;       
    }

    .logo img {
    margin-bottom: -35px;
    }

    .top-navbar-list{
      background: lightgrey;
      height: 50px;
      font-weight: lighter;
      font-size: large;
    }

    .menu-list{
      display: flex;
      font-weight: lighter;
      width: 70%;
      font-size: large;
      margin-bottom: 0;
      margin-top: 8px;
      padding: 0;
      padding-top: 12px;
      justify-content: space-around;
      margin: 5px 50px;
    }

    .logout-link a {
       margin-top: -44px;
       margin-right: 100px;
       padding-top: 5px;
       font-size: large;
       padding-top: 6px;
     }

    .menu-list a:only-child {
      color: black;
    }

  /*------The Others Profiles section-------- */

    .wrapper{
      display: block;
    }

    .profile_info {
      background: white;
    }

    .profile_picture {
      left: 44%;
    }
    .social-menu {
      margin: 0;
      display: flex;
      justify-content: space-around;  
    }

    .social-menu li {
      font-size: large;
    }

    dt, dd, a:only-child { 
      color: black;
      font-size: 18px;
    }

    dd{
      font-weight: bold;
    }

    .profiles-list{
      width: 80%;
      margin: 0 auto;
      grid-template-columns: repeat(2, 1fr);

      grid-gap: 50px;
    }

    .profiles-list li:nth-child(n+9){
      display: none;
    }

}

@media only screen and (max-width: 767px) {

    /*------header section-------- */
    header {
      padding: 0;
    }

    .logo{
      background: #2ac38a;
      height: 50px;       
    }

    .logo img {
      margin-bottom: -35px;
    }

    .top-navbar-list{
      background: lightgrey;
      height: 100%;
      font-weight: lighter;
      font-size: larger;
    }

    .logout-link {
      background: lightgrey;
    }

    .logout-link a {
       font-size: large;
       float: none;
       display: inline;
       margin: 0 auto;
       text-align: center;
       display: list-item;
       padding-top: 7px;
       padding-bottom: 10px;
     }

    .menu-list{
      display: flex;
      font-weight: lighter;
      width: 100%;
      padding: 0;
      font-size: larger;
      margin-bottom: 0;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0 auto;
    }

    .menu-list li{
      margin-top: 10px;
      padding-right: 0; 
    }

    .menu-list a:only-child {
      color: black;
    }

  /*------The Others Profiles section-------- */

    .wrapper{
      display: block;
    }

    .profile_info {
      background: white;
    }

    .profile_picture {
      left: 44%;
    }
    .social-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;  
    }

    .social-menu li {
      font-size: larger;
      margin-top: 8px;
    }

    dt, dd, a:only-child { 
      color: black;
      font-size: 18px;
    }

    dd {
      font-weight: bold;
    }

    .profiles-list{
      grid-template-columns: repeat(1, 1fr);
      width: 80%;
      margin: 0 auto;
      grid-gap: 30px;
    }

    .profiles-list li:nth-child(n+5){
      display: none;
    }

    .profile_picture {
      left: 39%;
    }

    .nav-social-menu {
      height: 100%;
    }

}

